In [45]:
import pandas as pd
import tabula as tb
#Para correr el traductor se necesita la versión 3.1.0a0 de googletrans
from googletrans import Translator

In [46]:
file= "https://www.rand.org/content/dam/rand/pubs/research_reports/RR2900/RR2956/RAND_RR2956.pdf"

In [47]:
table=tb.read_pdf(file,pages=37, stream=True)

In [48]:
df1=pd.DataFrame(table[0])
df1 = pd.concat([df1.columns.to_frame().T, df1], ignore_index=True)
df1.columns = range(len(df1.columns))
df1

                 0     1      2     3     4
0            Japan  73.2  213.7   9.2  21.0
1          Germany  39.9   58.4   5.0   5.7
2           France  31.3   50.0   3.9   4.9
3            Italy  30.7   43.7   3.9   4.3
4   United Kingdom  23.7   60.5   3.0   5.9
5            Spain  23.3   45.2   2.9   4.4
6           Canada  19.6   28.4   2.5   2.8
7            Korea  13.6   45.9   1.7   4.5
8        Australia   8.8   14.3   1.1   1.4
9           Turkey   6.6   63.9   0.8   6.3
10          Poland   6.2   27.1   0.8   2.7
11         Belgium   5.6    8.3   0.7   0.8
12          Mexico   5.5   14.2   0.7   1.4
13     Switzerland   5.3    5.2   0.7   0.5
14         Austria   4.8    6.3   0.6   0.6
15          Sweden   4.3    8.1   0.5   0.8
16     Netherlands   3.9   13.0   0.5   1.3
17        Portugal   3.8    9.6   0.5   0.9
18          Greece   2.9    9.5   0.4   0.9
19  Czech Republic   2.8    8.1   0.3   0.8
20         Finland   2.6    4.9   0.3   0.5
21          Norway   2.5    4.2   0.3   0.4
22         Hungary   2.4    7.9   0.3   0.8
23         Ireland   2.3    4.0   0.3   0.4
24           Chile   1.4    4.2   0.2   0.4
25        Slovakia   1.4    4.1   0.2   0.4
26     New Zealand   1.0    5.0   0.1   0.5
27        Slovenia   0.7    1.4   0.1   0.1
28       Lithuania   0.5    1.6   0.1   0.2
29          Latvia   0.3    1.0  <0.1   0.1
30      Luxembourg   0.2    0.4  <0.1  <0.1
31         Estonia   0.2    0.7  <0.1   0.1

In [49]:
df0=pd.DataFrame(table[1])
df0

,Unnamed: 0,Sales,Volume,Share of,Share of.1
0,NaN,"(billions, U.S. dollars)","(billions, standard units)",Sales (%),Volume (%)
1,All countries,795.2,"1,016.2",100.0,100.0
2,United States,464.0,243.4,58.4,24.0
3,"All countries, excluding",331.2,772.7,41.6,76.0

In [50]:
#Renombrar columnas del df1 para que coincidan con las del df0
df1.columns = ['Pais', 'Ventas', 'Volumen', 'Part_ Ventas', 'Part Volumen']	  
df0.columns = ['Pais', 'Ventas', 'Volumen', 'Part_ Ventas', 'Part Volumen']

In [51]:
df_concatenado = df0.append(df1, ignore_index=True)

C:\Users\carlos.ramirezc\AppData\Local\Temp\ipykernel_22264\1583560181.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_concatenado = df0.append(df1, ignore_index=True)

In [52]:
#Eliminar la primera fila del df_concatenado
df_concatenado = df_concatenado.drop([0], axis=0)
df_concatenado

                        Pais Ventas  Volumen Part Ventas Part Volumen
1              All countries  795.2  1,016.2       100.0        100.0
2              United States  464.0    243.4        58.4         24.0
3   All countries, excluding  331.2    772.7        41.6         76.0
4                      Japan   73.2    213.7         9.2         21.0
5                    Germany   39.9     58.4         5.0          5.7
6                     France   31.3     50.0         3.9          4.9
7                      Italy   30.7     43.7         3.9          4.3
8             United Kingdom   23.7     60.5         3.0          5.9
9                      Spain   23.3     45.2         2.9          4.4
10                    Canada   19.6     28.4         2.5          2.8
11                     Korea   13.6     45.9         1.7          4.5
12                 Australia    8.8     14.3         1.1          1.4
13                    Turkey    6.6     63.9         0.8          6.3
14                    Poland    6.2     27.1         0.8          2.7
15                   Belgium    5.6      8.3         0.7          0.8
16                    Mexico    5.5     14.2         0.7          1.4
17               Switzerland    5.3      5.2         0.7          0.5
18                   Austria    4.8      6.3         0.6          0.6
19                    Sweden    4.3      8.1         0.5          0.8
20               Netherlands    3.9     13.0         0.5          1.3
21                  Portugal    3.8      9.6         0.5          0.9
22                    Greece    2.9      9.5         0.4          0.9
23            Czech Republic    2.8      8.1         0.3          0.8
24                   Finland    2.6      4.9         0.3          0.5
25                    Norway    2.5      4.2         0.3          0.4
26                   Hungary    2.4      7.9         0.3          0.8
27                   Ireland    2.3      4.0         0.3          0.4
28                     Chile    1.4      4.2         0.2          0.4
29                  Slovakia    1.4      4.1         0.2          0.4
30               New Zealand    1.0      5.0         0.1          0.5
31                  Slovenia    0.7      1.4         0.1          0.1
32                 Lithuania    0.5      1.6         0.1          0.2
33                    Latvia    0.3      1.0        <0.1          0.1
34                Luxembourg    0.2      0.4        <0.1         <0.1
35                   Estonia    0.2      0.7        <0.1          0.1

In [53]:
df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 1 to 35
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pais          35 non-null     object
 1   Ventas        35 non-null     object
 2   Volumen       35 non-null     object
 3   Part Ventas   35 non-null     object
 4   Part Volumen  35 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

In [54]:
#Utilizar el traductor de google para traducir las columnas del df_concatenado
translator = Translator()
df_esp = df_concatenado.copy()
df_esp["Pais"]=df_esp["Pais"].apply(lambda x: translator.translate(x,dest="es").text)
df_esp

                         Pais Ventas  Volumen Part Ventas Part Volumen
1            Todos los países  795.2  1,016.2       100.0        100.0
2              Estados Unidos  464.0    243.4        58.4         24.0
3   Todos los países, excepto  331.2    772.7        41.6         76.0
4                       Japón   73.2    213.7         9.2         21.0
5                    Alemania   39.9     58.4         5.0          5.7
6                     Francia   31.3     50.0         3.9          4.9
7                      Italia   30.7     43.7         3.9          4.3
8                 Reino Unido   23.7     60.5         3.0          5.9
9                      España   23.3     45.2         2.9          4.4
10                     Canada   19.6     28.4         2.5          2.8
11                      Corea   13.6     45.9         1.7          4.5
12                  Australia    8.8     14.3         1.1          1.4
13                       Pavo    6.6     63.9         0.8          6.3
14                    Polonia    6.2     27.1         0.8          2.7
15                    Bélgica    5.6      8.3         0.7          0.8
16                     México    5.5     14.2         0.7          1.4
17                      Suiza    5.3      5.2         0.7          0.5
18                    Austria    4.8      6.3         0.6          0.6
19                     Suecia    4.3      8.1         0.5          0.8
20               Países Bajos    3.9     13.0         0.5          1.3
21                   Portugal    3.8      9.6         0.5          0.9
22                     Grecia    2.9      9.5         0.4          0.9
23            República Checa    2.8      8.1         0.3          0.8
24                  Finlandia    2.6      4.9         0.3          0.5
25                    Noruega    2.5      4.2         0.3          0.4
26                    Hungría    2.4      7.9         0.3          0.8
27                    Irlanda    2.3      4.0         0.3          0.4
28                      Chile    1.4      4.2         0.2          0.4
29                 Eslovaquia    1.4      4.1         0.2          0.4
30              Nueva Zelanda    1.0      5.0         0.1          0.5
31                  Eslovenia    0.7      1.4         0.1          0.1
32                   Lituania    0.5      1.6         0.1          0.2
33                    letonia    0.3      1.0        <0.1          0.1
34                 luxemburgo    0.2      0.4        <0.1         <0.1
35                    Estonia    0.2      0.7        <0.1          0.1

In [55]:
# guardar en excel
df_concatenado.to_excel("C:/Users/carlos.ramirezc/Downloads/RAND_RR2956v2.xlsx")