In [16]:
import pandas as pd
import requests
import json

In [17]:
url="https://www.drogueriascolsubsidio.com/api/catalog_system/pub/products/search?ft=metotrexato&_from=1&_to=41&sm=0&O=OrderByReleaseDateDESC"

In [18]:
r=requests.get(url)

In [19]:
r.status_code

200

In [20]:
data=r.json()

In [21]:
productos=[]
unidades=[]
pum=[]
for i in range(len(data)):
    productos.append(data[i]["productName"])
    unidades.append(data[i]["Unidades"])
    pum.append(data[i]["PUM"])

In [22]:
pum

[['Comprimido a $1.624,50']]

In [23]:
#Llevar datos a un dataframe
df=pd.DataFrame({"producto":productos,"unidades":unidades,"pum":pum})
#Eliminar corchetes de las columnas unidades y pum

df["unidades"]=df["unidades"].str[0]   
df["pum"]=df["pum"].str[0]
#Eliminar puntos de pum
df["pum"]=df["pum"].str.replace(".","")
#Cambiar coma por punto en pum
df["pum"]=df["pum"].str.replace(",",".")
#Dejar solo n√∫meros con decimales en columna pum
df["pum"]=df["pum"].str.extract("(\d+\.\d+)")
#Convertir a float unidades y pum
df["unidades"]=df["unidades"].astype(float)
df["pum"]=df["pum"].astype(float)
#Crear columna con el precio total
df["precio_total"]=df["unidades"]*df["pum"]

C:\Users\claudio.pacheco\AppData\Local\Temp\ipykernel_4764\3859119003.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["pum"]=df["pum"].str.replace(".","")

In [24]:
df

                           producto  unidades     pum  precio_total
0  CAJA - Metotrexato 2.5mg Tableta     100.0  1624.5      162450.0

In [25]:
df

                           producto  unidades     pum  precio_total
0  CAJA - Metotrexato 2.5mg Tableta     100.0  1624.5      162450.0

### La rebaja

In [64]:
rebaja="https://www.larebajavirtual.com/metotrexato?_q=metotrexato&map=ft&page=2&__pickRuntime=appsEtag%2Cblocks%2CblocksTree%2Ccomponents%2CcontentMap%2Cextensions%2Cmessages%2Cpage%2Cpages%2Cquery%2CqueryData%2Croute%2CruntimeMeta%2Csettings&__device=desktop"

In [65]:
# Make the GET request
r = requests.get(rebaja)

# Parse the response data
data = json.loads(r.json()["queryData"][0]["data"])

In [66]:
especifica=data["productSearch"]["products"]

In [67]:
productos=[]
precios=[]
#cantidad=[]

for i in range(len(especifica)):
    productos.append(especifica[i]["productName"])
    precios.append(especifica[i]["items"][0]["sellers"][0]["commertialOffer"]["Price"])
    #cantidad.append(especifica[i]["specificationGroups"][7]["specifications"][7]["values"])

In [68]:
df=pd.DataFrame({"producto":productos,"precio":precios})

In [69]:
df

Empty DataFrame
Columns: [producto, precio]
Index: []

In [70]:
who="https://www.whocc.no/atc_ddd_index/?code=A02AB&showdescription=no"